apiVersion: v1
baseDomain: tkclabs.io
compute: 
- hyperthreading: Disabled
  name: worker
  replicas: 0 
controlPlane: 
  hyperthreading: Disabled
  name: master
  replicas: 3 
metadata:
  name: okd
networking:
  clusterNetwork:
  - cidr: 10.128.0.0/14 
    hostPrefix: 23 
  networkType: OVNKubernetes
  serviceNetwork: 
  - 172.30.0.0/16
platform:
  none: {}
pullSecret: '{{host.data.okd_pull_secret}}'
sshKey: '{{host.data.okd_ssh_key}}'


